<!DOCTYPE html>
<html>
    <head>
        <title>WhiteList API</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="icon" href="https://gateway.pinata.cloud/ipfs/QmaNDiswYhxVtqhuMUeLFoC2amcjgkLDmESB1k9KiB88hg" />
        <style>
            .container {
                max-width: 1000px;
            }
            body {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                background-color: #122034;
            }
            @media (max-width: 768px) {
                body {
                    background-position: left left;
                }
            }
            div.container a.btn, form button.btn, form div.form-group input {
                box-shadow: 6px 6px 0.8em #122034;
            }
            legend h2 b{
                text-shadow: 4px 4px #122034;
            }
        </style>
    </head>
    <body>
        <div class="container mt-4">
        
        <!-- Form Name -->
        <legend class="text-white ml-4"><h2><b>WhiteList API</b></h2></legend><br>

        <div class="col-md-4">
            <a class="btn btn-outline-warning d-none d-md-block btn-lg btn-block my-5" href="/api/whitelist-nfts/" role="button">See all tokens' metadata</a>
            <a class="btn btn-warning d-block d-md-none btn-lg btn-block my-5" href="/api/whitelist-nfts/" role="button">See all tokens' metadata</a>
        </div>


        <!-- <form class="my-5" action="/api/" method="POST" role="form">
            <div class="form-group col-md-4">
                <label for="inputTokenId" class="sr-only">tokenId</label>
                <input name="tokenId" type="text" class="form-control form-control-lg" id="inputTokenId" placeholder="tokenId" required>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-outline-warning d-none d-md-block btn-lg btn-block">Specific token's metadata</button>
                <button type="submit" class="btn btn-warning d-block d-md-none btn-lg btn-block">See specific token's metadata</button>
            </div>
        </form> -->
        <form class="form-horizontal mx-auto" action="/api/" method="POST" id="token_select_form" role="form">
            <div class="form-group"> 
                <label class="control-label text-white col-md-4">WhiteList NFT</label>
                <div class="selectContainer col-md-4">
                    <div class="input-group">
                        <select name="token_select_name" class="form-control form-control-lg selectpicker" required>
                        <option value="">Select NFT to mint</option>
                        {% for option in token_list %}
                        <option value={{option}}>{{option}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4" id="content">
                <button type="submit" class="btn btn-outline-warning d-none d-md-block btn-lg btn-block">See specified token metadata<i class="bi bi-send"></i></button>
                <button type="submit" class="btn btn-warning d-block d-md-none btn-lg btn-block">See specified token metadata<i class="bi bi-send"></i></button>
            </div>
        </form>
        
        {% if errors|length > 0 %}
            <div class="alert alert-danger" role="alert" id="success_message" style="white-space: pre-wrap;"><i class="bi bi-x-circle"></i> Fail!&#10;{% for error in errors %} {{ error }} {% endfor %}</div>
        {% endif %}

        <div class="col-md-4">
            <a class="btn btn-outline-danger d-none d-md-block btn-lg btn-block my-4" href="/api/whitelist-nfts/mint/" role="button">Mint page</a>
            <a class="btn btn-danger d-block d-md-none btn-lg btn-block my-4" href="/api/whitelist-nfts/mint/" role="button">Mint page</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-outline-danger d-none d-md-block btn-lg btn-block my-4" href="/api/whitelist-nfts/multiple_mint/" role="button">Multiple mint page</a>
            <a class="btn btn-danger d-block d-md-none btn-lg btn-block my-4" href="/api/whitelist-nfts/multiple_mint/" role="button">Multiple mint page</a>
        </div>
    
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>